<a href="https://colab.research.google.com/github/christiano1974/portifolios-trabalho/blob/main/Projeto_bicicleta_xp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
dados = pd.read_csv('https://pycourse.s3.amazonaws.com/bike-sharing.csv')

In [ ]:
dados.head()

,datetime,rec_id,season,year,month,hour,is_holiday,weekday,is_workingday,weather_condition,temp,atemp,humidity,windspeed,casual,registered,total_count
0,2011-01-01,1,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2011-01-01,2,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,2011-01-01,3,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,2011-01-01,4,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,2011-01-01,5,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

In [ ]:
dados.dtypes

datetime              object
rec_id                 int64
season                 int64
year                   int64
month                  int64
hour                   int64
is_holiday             int64
weekday                int64
is_workingday          int64
weather_condition      int64
temp                 float64
atemp                float64
humidity             float64
windspeed            float64
casual                 int64
registered             int64
total_count            int64
dtype: object

In [ ]:
dados.info

<bound method DataFrame.info of          datetime  rec_id  season  year  month  hour  is_holiday  weekday  \
0      2011-01-01       1       1     0      1     0           0        6
1      2011-01-01       2       1     0      1     1           0        6
2      2011-01-01       3       1     0      1     2           0        6
3      2011-01-01       4       1     0      1     3           0        6
4      2011-01-01       5       1     0      1     4           0        6
...           ...     ...     ...   ...    ...   ...         ...      ...
17374  2012-12-31   17375       1     1     12    19           0        1
17375  2012-12-31   17376       1     1     12    20           0        1
17376  2012-12-31   17377       1     1     12    21           0        1
17377  2012-12-31   17378       1     1     12    22           0        1
17378  2012-12-31   17379       1     1     12    23           0        1

       is_workingday  weather_condition  temp   atemp  humidity  windspeed  \
0                  0                  1  0.24  0.2879      0.81     0.0000
1                  0                  1  0.22  0.2727      0.80     0.0000
2                  0                  1  0.22  0.2727      0.80     0.0000
3                  0                  1  0.24  0.2879      0.75     0.0000
4                  0                  1  0.24  0.2879      0.75     0.0000
...              ...                ...   ...     ...       ...        ...
17374              1                  2  0.26  0.2576      0.60     0.1642
17375              1                  2  0.26  0.2576      0.60     0.1642
17376              1                  1  0.26  0.2576      0.60     0.1642
17377              1                  1  0.26  0.2727      0.56     0.1343
17378              1                  1  0.26  0.2727      0.65     0.1343

       casual  registered  total_count
0           3          13           16
1           8          32           40
2           5          27           32
3           3          10           13
4           0           1            1
...       ...         ...          ...
17374      11         108          119
17375       8          81           89
17376       7          83           90
17377      13          48           61
17378      12          37           49

[17379 rows x 17 columns]>

In [ ]:
dados.isnull().sum()

datetime             0
rec_id               0
season               0
year                 0
month                0
hour                 0
is_holiday           0
weekday              0
is_workingday        0
weather_condition    0
temp                 0
atemp                0
humidity             0
windspeed            0
casual               0
registered           0
total_count          0
dtype: int64

## Qual o tamanho do dataset?

In [ ]:
dados.shape

(17379, 17)

## Qual é a média da coluna windspeed?

In [ ]:
dados['windspeed'].mean()

0.19009760630646177

## Qual é a média da coluna temp?

In [ ]:
dados['temp'].mean()

0.4969871684216583

## Quantos registros existem para o ano 2011?

In [ ]:
dados.year[dados.year == 0].value_counts()

0    8645
Name: year, dtype: int64

## Quantos registros existem para o ano 2012?

In [ ]:
dados.year[dados.year == 1].value_counts()

1    8734
Name: year, dtype: int64

## Quantas locações foram efetuadas em 2011?

In [ ]:
dados.loc[dados['year'] == 0,'total_count'].sum()

1243103

## Quantas locações foram efeturadas em 2012?

In [ ]:
dados.loc[dados['year']==1,'total_count'].sum()

2049576

## Qual estação do ano contém a maior média de locação de bicicletas?

In [ ]:
print(dados.total_count[dados.season == 1].mean())
print(dados.total_count[dados.season == 2].mean())
print(dados.total_count[dados.season == 3].mean())
print(dados.total_count[dados.season == 4].mean())
print("A estação do ano com maior média de locação foi no verão!")

111.11456859971712
208.34406894987526
236.01623665480426
198.86885633270322
A estação do ano com maior média de locação foi no verão!

## Qual estação do ano contém a menor média de locação de bicicletas?

In [ ]:
print("A estação do ano com mentor média de locação foi no inverno!")

A estação do ano com mentor média de locação foi no inverno!

## Qual o horário do dia contém a menor média de locações de bicicletas?

In [ ]:
medias = []
for i in range(24):
     medias.append(np.round(dados.total_count[dados.hour == i].mean(),1))
horarios = np.arange(24)
tabela = pd.DataFrame({'Horários': horarios,'Médias': medias})
tabela

    Horários  Médias
0          0    53.9
1          1    33.4
2          2    22.9
3          3    11.7
4          4     6.4
5          5    19.9
6          6    76.0
7          7   212.1
8          8   359.0
9          9   219.3
10        10   173.7
11        11   208.1
12        12   253.3
13        13   253.7
14        14   240.9
15        15   251.2
16        16   312.0
17        17   461.5
18        18   425.5
19        19   311.5
20        20   226.0
21        21   172.3
22        22   131.3
23        23    87.8

In [ ]:
tabela.describe()

        Horários     Médias
count  24.000000   24.00000
mean   11.500000  188.47500
std     7.071068  131.47389
min     0.000000    6.40000
25%     5.750000   70.47500
50%    11.500000  210.10000
75%    17.250000  253.40000
max    23.000000  461.50000

In [ ]:
tabela[tabela['Médias']==6.4]

   Horários  Médias
4         4     6.4

In [ ]:
print("O horário com a menor média de locação foi as 4 horas!")

O horário com a menor média de locação foi as 4 horas!

## Qual o horário do dia contém a maior média de locações de bicicletas?

In [ ]:
tabela[tabela['Médias']==461.5]

    Horários  Médias
17        17   461.5

In [ ]:
print("O horário com maior média de locação foi as 17 horas!")

O horário com maior média de locação foi as 17 horas!

## Que dia da semana contém a maior média de locações de bicicleta?

In [ ]:
for i in range(7):
   print("dia da semana = ",i, "média de locação = ",dados.loc[dados['weekday']== i,'total_count'].mean(),"\n")

dia da semana =  0 média de locação =  177.46882494004797

dia da semana =  1 média de locação =  183.74465510286404

dia da semana =  2 média de locação =  191.23889115368937

dia da semana =  3 média de locação =  191.13050505050506

dia da semana =  4 média de locação =  196.43666531768514

dia da semana =  5 média de locação =  196.13590671491758

dia da semana =  6 média de locação =  190.20979299363057

In [ ]:
print("O dia da semana com maior média de locação de bicicleta é 4ª feira!")

O dia da semana com maior média de locação de bicicleta é 4ª feira!

## Que dia da semana com menor média de locação de bicicleta?

In [ ]:
print("O dia da semana com menor média de locação de bicicleta é domingo!")

O dia da semana com menor média de locação de bicicleta é domingo!

## Às quartas-feiras (weekday = 3), qual o horário do dia que contém a maior média de locações de bicicletas?

In [ ]:
dados1 = dados.loc[dados['weekday'] == 3,['hour','total_count']]
dados1
medias = []
for i in range(24):
  medias.append(dados1.loc[dados1.hour == i,'total_count'].mean())
print(np.round(medias))
print("Qual o índice de maior valor médio das de locação: ",medias.index(max(medias)))
print("As quartas - feiras (weekday = 3) o horário de maior locação é às 17 horas!")

[ 35.  15.   8.   5.   5.  26. 108. 304. 488. 239. 132. 152. 194. 186.
 171. 181. 273. 513. 494. 358. 257. 195. 144.  84.]
Qual o índice de maior valor médio das de locação:  17
As quartas - feiras (weekday = 3) o horário de maior locação é às 17 horas!

## Aos sábados (weekday = 6), qual o horário do dia que contém a maior média de locações de bicletas?

In [ ]:
dados2 = dados.loc[dados['weekday'] == 6,['hour','total_count']]
dados2
medias = []
for i in range(24):
  medias.append(dados2.loc[dados2.hour == i,'total_count'].mean())
print(np.round(medias))
print("Qual o índice de maior valor médio das de locação: ",medias.index(max(medias)))
print("Aos sábados (weekday = 6) o horário de maior locação é às 13 horas!")

[ 94.  68.  50.  23.   8.   8.  21.  46. 114. 187. 264. 329. 375. 385.
 381. 382. 366. 334. 292. 240. 181. 156. 140. 116.]
Qual o índice de maior valor médio das de locação:  13
Aos sábados (weekday = 6) o horário de maior locação é às 13 horas!